body {
    background-color: #dddddd;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, canvas, p, input {
    margin: 0;
    padding: 0;
}

* input[type="button"]{
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 6px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #cccccc;
}

/* Active (clicked) effect for all buttons */
* input[type="button"]:active {
    transform: scale(0.95);
}

/* Style for the track of the range input */
* input[type="range"]{
    -webkit-appearance: none;
    width: 140px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

* input[type="range"]{
    -webkit-appearance: none;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

/* Style the track of the range input */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background-color: #007bff;
    border-radius: 5px;
}

/* Style the thumb (handle) of the range input */
* input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

/* Style the value of the range input (the tooltip) */
input[type="range"]::-webkit-slider-thumb::after {
    content: attr(value);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Show the value (tooltip) on hover */
* input[type="range"]:hover::-webkit-slider-thumb::after {
    opacity: 1;
}

/* Hide the default range input tooltip */
* input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

/* Hide the focus outline for webkit browsers */
* input[type="range"]:focus {
    outline: none;
}

.MainMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: normal;
}

.elementMenu:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% / 3);
}

.Controls:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
}

.rowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.elementButton {
    flex: 1 0 calc(25% - 10px);
    max-width: calc(33.33% - 10px);
    min-width: min-content;
    margin: 5px;
    /* Add other styles for the button */
}

.selectedElementButton {
    outline: 3px solid;
}

.Controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.Controls > div {
    display: flex;
    align-items: center;
    margin: 10px;
}

.overwriteSwitch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px;
}

.gameCanvasWrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.gameCanvas {
    display: flex;
}

.gameWrapper {
    width: 100%;
    overflow: hidden;
}

/* Hide the default checkbox input */
.overwriteSwitch input {
    display: none;
}

/* Style the slider shape */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    border-radius: 20px;
    transition: 0.4s;
    height:22px;
}

/* Style the circle (dot) inside the slider */
.slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/* Checked state styles */
input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider::before {
    transform: translateX(18px);
}

#FPScounter {
    flex: 1;
    text-align: left;
    margin:0;
}

.loadSaveClear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 728px) {
    body {
        font-size: 14px;
    }

    .elementButton {
        font-size: 14px;
        padding: 3px;
    }

    .MainMenu {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .elementMenu:nth-child(1) {
        flex: 1;
        order: 1;
        width: 100%;
        align-self: center;
    }

    .Controls:nth-child(2) {
        flex-grow: 0;
        order: 2;
    }
}